
<md-card  >
    <md-tab-group>
        <md-tab label="Tab 1"><h4>Reset Password</h4>
          <div>
              <div>
                
            
              <form><br>
                <md-input-container>
                  
                  <input mdInput type="password" name="code" >
                  <md-placeholder >
                  Old password
                  </md-placeholder>
                </md-input-container><br><br>
                <md-input-container>
                    <input mdInput type="text" name="repassword" >
                    <md-placeholder>
                      Enter new password
                    </md-placeholder>
                    
                  </md-input-container><br><br>
                  <md-input-container>
                      <input mdInput type="text" name="repassword" >
                      <md-placeholder>
                        Confirm new password
                      </md-placeholder>
                      
                    </md-input-container><br><br>
                <button md-raised-button color="accent" type="submit" name="action">Reset</button><br><br>
                <span id="err"><small>{{errorMsg}}</small></span>
                </form >
            </div>
            </div></md-tab>
        <md-tab label="Tab 2"><h4>Reset Email-id</h4>
          <div>
              
          
            <form><br>
              <md-input-container>
                
                <input mdInput type="text" name="email_id" >
                <md-placeholder >
                Old email_id
                </md-placeholder>
              </md-input-container><br><br>
              <md-input-container>
                  <input mdInput type="text" name="nemail_id" >
                  <md-placeholder>
                    Enter new email_id
                  </md-placeholder>
                  
                </md-input-container><br><br>
                <md-input-container>
                    <input mdInput type="text" name="conemail_id" >
                    <md-placeholder>
                      Confirm new email_id
                    </md-placeholder>
                    
                  </md-input-container><br><br>
              <button md-raised-button color="accent" type="submit" name="action">Reset</button><br><br>
              <span id="err"><small>{{errorMsg}}</small></span>
              </form >
          </div>  
        </md-tab>
      </md-tab-group>
   
</md-card>


