<md-card>
<md-card-title class="card"> Forgot Password</md-card-title>
<div>
  <div>
        <div>
    
        <form><br>
          
          <md-input-container>
            <input mdInput type="text" name="username" >
            <md-placeholder>
              Email-id
            </md-placeholder>
          </md-input-container><br><br>
          
          <button md-raised-button color="warn" type="submit" name="action">Submit</button><br><br>
          <span id="err"><small>{{errorMsg}}</small></span>
          
        </form >
      </div>
    </div>
  </div>
</md-card>
  
  
  