.fonts{
    
font-family: sans-serif;
color: white(14, 14, 51);
text-align: center;
}

.center{
    margin: 110px 250px 250px 250px;
    width:400px;
    height: 300px;
    background-color: rgb(236, 134, 148);
    color:rgb(10, 6, 6);
}
.white{
    color:white(14, 14, 51);
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}